
#contact-box {
    padding: 10px;
}

button {
    cursor: pointer;
}
@media (min-width: 768px){
    .Specialities {
        padding: 80px 0;
    }
}

.sub-header {
    visibility: hidden;
}

.link-proj {
    color:white;
}

.link-proj.active,
.link-proj:active,
.link-proj:focus,
.link-proj:hover {
    color:white;
}

.navbar {
    padding: 5px;
}
.sub-nav {
    padding: 0 5px;
    width: 95vw;
}

@media (max-width:400px){
    .form-group > .form-control {
        font-size: 0.8rem;
    }
}

.port:before { 
    content:url('../img/noImg.png');
    margin-bottom: 10px;
  }

  .text-muted {
    word-wrap: break-word;
  }