
#contact-box {
    padding: 10px;
}


@media (min-width: 768px){
    .Specialities {
        padding: 80px 0;
    }
}

.sub-header {
    visibility: hidden;
}

.link-proj {
    color:white;
}

.link-proj.active,
.link-proj:active,
.link-proj:focus,
.link-proj:hover {
    color:white;
}



@media (max-width:400px){
    .form-group > .form-control {
        font-size: 0.8rem;
    }
}